<h1>Studying usage of APIs</h1>
<h4>::: DOG CEO API ::: https://dog.ceo/dog-api/</h4>

<p>Pictures of <%= breed %>s dog </p>
<% for(let i=0; i < dogs.length; i++ ){ %>
    <img src="<%= dogs[i]%>" alt="dog" height="200" width=auto>
<% } %>   



    
