<h1>Studying usage of APIs</h1>
<h4>::: DOG CEO API ::: https://dog.ceo/dog-api/</h4>


<form action="/addbreed" method="POST">
    <input type="text" placeholder="breed" name="newbreed">
    <button>Search Breeds</button>
</form>
    
